.quotes{
  color: #EC1800;
}
.class{
  color: #0061FF;
}
.method{
  color: #B78524;
}
.regularText{
  color: #000;
}

.highlightSentence{
  color: #EC1800;
}

.exampleSentence{
  color: #0061FF;
}

.editor{
  min-height: 300px;
  resize: vertical;
}

.output{
  min-height: 300px;
}