



.header1 {
    color: #050001;
    text-align: center;
}

.learnJavaHeader{
    color: #000;
    text-align: center;
    
}

.pageDescription{
    font-weight: bolder;
    text-align: center;


}

.firstNameLabel{
    font-weight: bolder;

}

.lastNameLabel{
    font-weight: bolder;
}

.center {
    margin: auto;
    width: 30%;
    border: 3px solid #73AD21;
    padding: 10px;
}

.genderClass{
    margin: auto;
    width: 30%;
    padding: 10px;
}

.genderRadio{
    text-align: center;
}

.submitBTN_STYLE{
   text-align: center;
}
